.carousel-parent{
    height: 120vh;
    background-position: top;
    background-size: cover;
    color: #CBD5E1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery{
    height: 200px;
    width: 200px;
    position: relative;
    transform-style: preserve-3d;
    animation: gallery 20s linear infinite;
}

.gallery:hover{
    animation-play-state: paused;
}

.gallery:hover svg{
    opacity: 0.2;
}

.gallery span{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    transform-origin: center;
    transform: rotateY(calc(var(--i) * 30deg)) translatez(400px);
}

.gallery span svg{
    height: 100%;
    width: 100%;
    transition: all 1s;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
        -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.218));
}

.gallery span svg:hover{
    transition: all 1s;
    transform: scale(1.2);
    cursor: pointer;
    opacity: 1;
}


@keyframes gallery{
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
}

#carouselid{
    font-family: titlefont;
    font-size: 32px;
    font-weight: bold;
    color: #cbd5e157;
    transition: all 2s;
}

#carouselid:hover{
    font-size: 42px;
    font-weight: bold;
    color: #cbd5e157;
    transition: all 1s;
}

#carouselid:hover span{
    font-size: 42px;
    font-weight: bold;
    color: #f8ffeb;
    transition: all 1s;
    text-shadow: 0px 0px 10px #f8ffeb;
}

.line-under-tech{
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media(max-width:750px){
    #carouselid{
        font-family: titlefont;
        font-size: 18px;
        font-weight: bold;
        color: #cbd5e157;
        transition: all 2s;
    }
    
    #carouselid:hover{
        font-size: 22px;
        font-weight: bold;
        color: #cbd5e157;
        transition: all 1s;
    }
    
    #carouselid:hover span{
        font-size: 22px;
        font-weight: bold;
        color: #f8ffeb;
        transition: all 1s;
        text-shadow: 0px 0px 10px #f8ffeb;
    }


    .gallery span{
        height: 100%;
        width: 60px;
        position: absolute;
        top: 0;
        left: 0;
        transform-style: preserve-3d;
        transform-origin: center;
        transform: rotateY(calc(var(--i) * 30deg)) translatez(165px);
    }

    .gallery{
        height: 200px;
        width: 60px;
        position: relative;
        transform-style: preserve-3d;
        animation: gallery 20s linear infinite;
    }

    .gallery span svg{
        height: 100%;
        width: 60px;
        transition: all 1s;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.218));
    }
}

