.introduction {
    height: 100vh;
    width: 100%;
    background-position: 100% 100%;
    background-size: cover;
}

.introduction p{
    color: white;
}

@media (max-width:750px){
    .introduction div h1 {
        font-weight: bold;
        color: rgba(255, 255, 255, 0.344);
        font-size: 75px;
    }

    .primary-button {
        background-color:#323E4D;
        height: 45px;
        color: white;
        border: none;
        border-radius: 25px;
        width: auto;
        padding: 5px 15px;
    }
}

.introduction div h1 {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.344);
    font-size: 100px;
    transition: all 2s;
}

.introduction div h1:hover{
    color: white;
    cursor: default;
    text-shadow: 0px 0px 10px white;
    transition: all 0.3s;
}



.primary-button {
    background-color:#323E4D;
    height: 45px;
    color: white;
    border: none;
    border-radius: 25px;
    width: 50%;
}

#intro-p {
    white-space: nowrap;
    padding-right: 10px;
}

.fa-square-github,
.fa-linkedin{
  background-color:transparent;
  color: #a6a6a6;
  height: 100px;
  margin-left: 10px;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.fa-lightbulb{
    background-color:transparent;
    color: #fffff734;
    height: 100px;
    margin-left: 10px;
}

.introduction div h1:hover ~ .fa-lightbulb{
    background-color:transparent;
    color: #FACA08;
    height: 100px;
    margin-left: 10px;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4))
    drop-shadow(0px 0px 5px #FACA08)
}


