.introduction {
    height: 100vh;
    width: 100%;
    background-position: 100% 100%;
    background-size: cover;
}

.aboutme{
    height: 100vh;
    width: 100%;
    background-position: 100% 40%;
    background-size: cover;
}

.bgtechstack{
    background-repeat: no-repeat;
}


.parent-container{
    background-color: #e6e6e6;
}

.introduction p{
    color: black;
}

#pushdown{
    margin-top: 450px;
}



@media(max-width:750px){
    .introduction div h1 {
        font-weight: bold;
        color: rgba(255, 255, 255, 0.344);
        font-size: 75px;
    }


    .primary-button {
        background-color:#e6e6e6;
        height: 45px;
        color: black;
        border-radius: 0px;
        width: auto;
        padding: 5px 15px;
        border: 2px solid #ffffff;
        filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.451));
    }

    .primary-button5 {
        background-color:#e6e6e6;
        height: 45px;
        color: black;
        border-radius: 0px;
        width: auto;
        padding: 5px 15px;
        border: 2px solid #ffffff;
        filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.451));
    }

    
    .who-is-dan{
        height: 100vh;
        background-size: 180% 100%;
        color: white;
        background-position: center;
        overflow: hidden;
    }
    pre{
        font-size: 16px;
        font-family: 'Sarala', sans-serif !important;
        overflow: hidden;
    }
    .photograss{
        opacity: 0;
    }

    .primary-button3 {
        background-color:#B49BB6;
        height: 45px;
        color: #ffffff;
        border-radius: 0px;
        width: 25%;
        font-size: 12px;
        padding: 5px 15px;
        border-radius: 25px;
        border: none;
        margin-right: 5px;
    }
    
    .primary-button4 {
        background-color:#B49BB6;
        height: 45px;
        color: #ffffff;
        border-radius: 0px;
        width: 25%;
        font-size: 12px;
        padding: 5px 15px;
        border-radius: 25px;
        border: none;
        margin-left: 5px;
    }
    

    .textinblob{
        transform: scale(0.4);
    }
}

.introduction div h1 {
    
    color: rgba(0, 0, 0, 0.398);
    font-size: 100px;
    transition: all 2s;
}

#dotnetbot{
    border-radius: 50px;
    background: #e6e6e6;
    box-shadow: inset 8px 8px 10px #9a9a9a,
                inset -8px -8px 10px #ffffff;
}

.introduction div h1:hover{
    color: black;
    cursor: default;
    text-shadow: 0px 0px 10px black;
    transition: all 0.3s;
}



.primary-button {
    background-color:#e6e6e6;
    height: 45px;
    color: black;
    width: 50%;
    border: 2px solid #ffffff;
    filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.451));
}

.primary-button5 {
    background-color:#e6e6e6;
    height: 45px;
    color: black;
    width: 100%;
    border: 2px solid #ffffff;
    filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.451));
}

.primary-button2 {
    background-color:#2885C7;
    height: 45px;
    color: #ffffff;
    width: 50%;
    border-radius: 25px;
    border: none;
}

.primary-button3 {
    background-color:#B49BB6;
    height: 45px;
    color: #ffffff;
    border-radius: 0px;
    width: 100%;
    padding: 5px 15px;
    border-radius: 25px;
    border: none;
    margin-right: 5px;
}

.primary-button4 {
    background-color:#B49BB6;
    height: 45px;
    color: #ffffff;
    border-radius: 0px;
    width: 40%;
    padding: 5px 15px;
    border-radius: 25px;
    border: none;
    margin-left: 5px;
}


.devstack{
    color: black;
    transition: all 0.5s;
    padding: 10px;
}

.devstack:hover{
    color: white;
    background-color: #191919;
    transform: scale(1.05);
    transition: all 0.5s;
    box-shadow: none;
}

#whodan{
    margin-bottom: -15px;
}

.who-is-dan{
    height: 70vh;
    background-size: 100% 100%;
    color: white;
    transition: all 0.5s;
    overflow-y: hidden;
    overflow: hidden;
}


pre{
    font-size: 18px;
    font-family: 'Sarala', sans-serif !important;
    overflow: hidden;
}




#intro-p {
    white-space: nowrap;
    padding-right: 10px;
}

.fa-square-github,
.fa-linkedin{
  background-color:transparent;
  color: #a6a6a6;
  height: 100px;
  margin-left: 10px;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.fa-lightbulb{
    background-color:transparent;
    color: #fffff734;
    height: 100px;
    margin-left: 10px;
    z-index: 3;
    transition: all 2s;
}

.introduction div h1:hover ~ .fa-lightbulb{
    background-color:transparent;
    color: #FACA08;
    height: 100px;
    margin-left: 10px;
    z-index: 3;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4))
    drop-shadow(10px -70px 55px #FACA08);
    transition: all 0.3s;
}

.finalimage{
    height: 70vh;
    background-size: 100% 100%;
    background-position: bottom;
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content: end;
    margin-top: -200px;
}

.resumepage{
    font-family: 'Sarala', sans-serif;
    background-color: #e6e6e6;
    width: 100%;
    background-size: cover;
    height: 110vh;
    display: flex;
    position: relative;
    overflow-wrap: normal;
}

.resume-intro{
    height: 100vh;
    width: 100%;
    background-position: 100% 100%;
    background-size: cover;
}


.resume{
    justify-content: right;
    align-items: flex-end;
    text-align: center;
}


.aboutmeimg{
    height: 420px;
}
.meimg{
    text-align: center;
}

.resume-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.467);
    border-radius: 10px;
    background-color: rgba(25, 25, 25, 0.8);
    color: white;
    font-weight: 500%;
    border-radius: 10px;
    opacity: 0;
    transition: all 0.5s;
    overflow: hidden;
    position: fixed;
    top: 0;
    left:0;
    height: 0%;
    width: 0;
}



#resumepdf{
    height: 100vh;
    width: 100%;
    background-position: 100% 100%;
    background-size: cover;
}

.buttons{
    transition: all 0.5s;
    text-align: left;
    width: 50%;
    position: relative;
    transition: all 0.5s;
}

.buttons:hover ~ .resume-content{
    opacity: 1;
    transition: all 0.5s;
    transform: scale(1.05);
    border: 1px solid rgba(0, 0, 0, 0.467);
    cursor: pointer;
    z-index: 5;
    text-align: center;
    justify-content: center;
    left: 50%;
    width: 80%;
    top: 0;
    left: 0;
    height: 100vh;
    
}

.resume-content:hover{
    opacity: 1;
    transform: scale(1.05);
    border: 1px solid rgba(0, 0, 0, 0.467);
    cursor: pointer;
    z-index: 5;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    left: 50%;
    width: 80%;
    top: 0;
    left: 0;
    height: 100vh;
    transition: all 0.5s;
}
