@font-face {
    font-family: titlefont;
    src: url("../MyriadPro-SemiExt.otf") format("opentype");
  }
  
  @font-face {
    font-family: bodyfont;
    src: url("../Pelita-SemiBold.otf") format("opentype");
  }

.introduction {
    height: 100vh;
    width: 100%;
    background-position: 100% 100%;
    background-size: cover;
    font-family: titlefont;
}

.aboutme{
    height: 100vh;
    width: 100%;
    background-position: 100% 40%;
    background-size: cover;
}

.bgtechstack{
    background-repeat: no-repeat;
}


.parent-container{
    background: rgb(230,230,230);
background: linear-gradient(57deg, rgba(230,230,230,1) 0%, rgba(40,133,199,1) 35%, rgba(25,25,25,1) 100%);
}

.introduction p{
    color: #f8ffebab;
}

#intro-p{
    font-family: bodyfont;
}

#nexttitle{
    color: #64748B;
    font-family: bodyfont;
}

#pushdown{
    margin-top: 450px;
    font-family: bodyfont;
}

#pushdown h1{
    color: #CBD5E1;
}

#pushdown p{
    color: #f8ffeb;
}

#pushdown2{
    color: #f8ffeb;
}

.techstackitems{
    color: #f8ffeb;
    font-family: bodyfont;
}

.devstack .techstackitems #titles{
    font-family: titlefont;
}

#titles{
    color: #CBD5E1;
}


@media(max-width:750px){
    .introduction div h1 {
        font-weight: bold;
        color: rgba(0, 0, 0, 0.367);
        font-size: 75px;
        transition: all 2s;
    }


    .primary-button {
        background-color:#d77a38;
        border-radius: 25px;
        border: none;
        height: 45px;
        color: #CBD5E1;
        width: auto;
        padding: 5px 15px;
        font-family: bodyfont;
    }

    .primary-button5 {
        background-color:#e6e6e6;
        height: 45px;
        color: black;
        border-radius: 0px;
        width: auto;
        padding: 5px 15px;
        border: 2px solid #ffffff;
        filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.451));
        font-family: bodyfont;
    }

    
    .who-is-dan{
        height: 100vh;
        background-size: 180% 100%;
        overflow-y: hidden;
        background-position: center;
        overflow: hidden;
    }

    pre{
        font-size: 16px;
        font-family: bodyfont !important;
        color: #f8ffeb;
        overflow: hidden;
    }

    

    .photograss{
        opacity: 0;
    }

    .primary-button3 {
        background-color:#B49BB6;
        height: 45px;
        color: #ffffff;
        border-radius: 0px;
        width: 25%;
        font-size: 12px;
        padding: 5px 15px;
        border-radius: 25px;
        border: none;
        margin-right: 5px;
        font-family: bodyfont;
    }
    
    .primary-button4 {
        background-color:#B49BB6;
        height: 45px;
        color: #ffffff;
        border-radius: 0px;
        width: 25%;
        font-size: 12px;
        padding: 5px 15px;
        border-radius: 25px;
        border: none;
        margin-left: 5px;
        font-family: bodyfont;
    }
    

    .textinblob{
        transform: scale(0.4);
    }
}

.transition{
    opacity: 0.2;
}

.introduction div h1 {
    color: rgba(0, 0, 0, 0.367);
    font-size: 100px;
    transition: all 2s;
}

.intro-content p #nexttitle span{
    transition: all 2s;
}

.intro-content p span{
    transition: all 2s;
}

#dotnetbot{
    border-radius: 50px;
    background: #e6e6e6;
    box-shadow: inset 8px 8px 10px #9a9a9a,
                inset -8px -8px 10px #ffffff;
}

.titlehover:hover{
    color: #CBD5E1;
    cursor: default;
    text-shadow: 0px 0px 10px black;
    transition: all 0.3s;
}


.titlehover:hover ~ .intro-content p span{
    color: #f8ffeb;
    transition: all 0.3s;
}

.titlehover:hover ~ .intro-content p #nexttitle span{
    color: #f8ffeb;
    transition: all 0.3s;
}



.primary-button {
    background-color:#d77a38;
    border-radius: 25px;
    border: none;
    height: 45px;
    color: #CBD5E1;
    width: 50%;
    font-family: bodyfont;
}

.primary-button5 {
    background-color:#e6e6e6;
    height: 45px;
    color: black;
    width: 100%;
    border: 2px solid #ffffff;
    filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.451));
    font-family: bodyfont;
}

.primary-button2 {
    background-color:#2885C7;
    height: 45px;
    color: #ffffff;
    width: 50%;
    border-radius: 25px;
    border: none;
    font-family: bodyfont;
}

.primary-button3 {
    background-color:#B49BB6;
    height: 45px;
    color: #ffffff;
    border-radius: 0px;
    width: 100%;
    padding: 5px 15px;
    border-radius: 25px;
    border: none;
    margin-right: 5px;
    font-family: bodyfont;
}

.primary-button4 {
    background-color:#B49BB6;
    height: 45px;
    color: #ffffff;
    border-radius: 0px;
    width: 40%;
    padding: 5px 15px;
    border-radius: 25px;
    border: none;
    margin-left: 5px;
    font-family: bodyfont;
}


.devstack{
    transition: all 0.5s;
    padding: 10px;
}

.devstack div h3{
    color: #cbd5e157;
    font-family: titlefont;
}

.devstack div h3 span{
    color: #cbd5e157;
    font-family: titlefont;
    transition: all 0.5s;
}

.devstack:hover{
    transform: scale(1.05);
    transition: all 0.5s;
    box-shadow: none;
}

.devstack:hover h3{
    color: #cbd5e157;
    font-family: titlefont;
} 

.devstack:hover h3 span{
    color: #f8ffeb;
    text-shadow: 0px 0px 10px #f8ffeb;
    font-family: titlefont;
    transition: all 0.5s;
} 

.devstack:hover .techstackitems #titles{
    color: #CBD5E1;
    text-shadow: none;
    font-family: titlefont;
}

.devstack:hover .techstackitems hr{
    color: #CBD5E1;
    text-shadow: none;
}
.techstackitems hr{
    text-shadow: none;
}

.devstack:hover .techstackitems p{
    color: #f8ffeb;
    font-family: bodyfont;
}

#whodan{
    margin-bottom: -15px;
    color: #191919;
    font-family: titlefont;
}

.who-is-dan{
    height: 70vh;
    background-size: 100% 100%;
    transition: all 0.5s;
    overflow-y: hidden;
    overflow: hidden;
}

#blobid{
    z-index: 0;
}
.textinblob h3{
    color: #CBD5E1;
    font-family: titlefont;
}

.textinblob hr{
    color: #CBD5E1;
}

pre{
    font-size: 18px;
    font-family: bodyfont !important;
    color: #f8ffeb;
    overflow: hidden;
}




#intro-p {
    white-space: nowrap;
    padding-right: 10px;
}

.fa-square-github,
.fa-linkedin{
  background-color:transparent;
  color: #CBD5E1;
  height: 100px;
  margin-left: 10px;

}
#linkedinlogo{
    filter: drop-shadow(3px 5px 20px #0A66C2);
}
#githublogo{
    filter: drop-shadow(3px 5px 20px #6e5494);
}

#danwienerlogoimgid{
    max-height: 88px;
    border-radius: 10px;
    max-width: 100%;
    filter: drop-shadow(3px 5px 20px #CBD5E1);
    margin-right: 10px;
}

.fa-lightbulb{
    background-color:transparent;
    color: #fffff734;
    height: 100px;
    margin-left: 10px;
    z-index: 3;
    transition: all 2s;
}

.introduction div h1:hover ~ .fa-lightbulb{
    background-color:transparent;
    color: #FACA08;
    height: 100px;
    margin-left: 10px;
    z-index: 3;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4))
    drop-shadow(10px -70px 55px #FACA08);
    transition: all 0.3s;
}

.finalimage{
    height: 40vh;
    background-size: 100% 100%;
    background-position: bottom;
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content: end;
    margin-top: -200px;
}

.resumepage{
    font-family: 'Sarala', sans-serif;
    background-color: #e6e6e6;
    width: 100%;
    background-size: cover;
    height: 110vh;
    display: flex;
    position: relative;
    overflow-wrap: normal;
}

.resume-intro{
    height: 100vh;
    width: 100%;
    background-position: 100% 100%;
    background-size: cover;
}


.resume{
    justify-content: right;
    align-items: flex-end;
    text-align: center;
}


.aboutmeimg{
    height: 420px;
}
.meimg{
    text-align: center;
}

.resume-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.467);
    border-radius: 10px;
    background-color: rgba(25, 25, 25, 0.8);
    color: white;
    font-weight: 500%;
    border-radius: 10px;
    opacity: 0;
    transition: all 0.5s;
    overflow: hidden;
    position: fixed;
    top: 0;
    left:0;
    height: 0%;
    width: 0;
}



#resumepdf{
    height: 100vh;
    width: 100%;
    background-position: 100% 100%;
    background-size: cover;
}

.buttons{
    transition: all 0.5s;
    text-align: left;
    width: 50%;
    position: relative;
    transition: all 0.5s;
}

.buttons:hover ~ .resume-content{
    opacity: 1;
    transition: all 0.5s;
    transform: scale(1.05);
    border: 1px solid rgba(0, 0, 0, 0.467);
    cursor: pointer;
    z-index: 5;
    text-align: center;
    justify-content: center;
    left: 50%;
    width: 80%;
    top: 0;
    left: 0;
    height: 100vh;
    
}

.resume-content:hover{
    opacity: 1;
    transform: scale(1.05);
    border: 1px solid rgba(0, 0, 0, 0.467);
    cursor: pointer;
    z-index: 5;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    left: 50%;
    width: 80%;
    top: 0;
    left: 0;
    height: 100vh;
    transition: all 0.5s;
}

#dotnetbot h3{
    font-family: titlefont;
    font-weight: bold;
}

#dotnetbot {
    font-family: bodyfont;
}

.abovefooter{
    margin-bottom: 100px;
}

.end{
    position: absolute;
    width: 100%;
    bottom: 0;
}
