@font-face {
    font-family: titlefont;
    src: url("../MyriadPro-SemiExt.otf") format("opentype");
  }
  
  @font-face {
    font-family: bodyfont;
    src: url("../Pelita-SemiBold.otf") format("opentype");
  }

.projectsback{
    background: rgb(230,230,230);
background: linear-gradient(57deg, rgba(230,230,230,1) 0%, rgba(40,133,199,1) 35%, rgba(25,25,25,1) 100%);

    width: 100%;
    background-size: auto;
    margin-top: -50px;
}

.proj h1{
    font-family: titlefont;
    color: #CBD5E1;
}

.proj p{
    font-family: bodyfont;
    color: #f8ffeb;
}


.projects-list h3{
    font-family: titlefont;
    color: #191919;
}

.project-content h3{
    font-family: titlefont;
    color: #CBD5E1;
    text-shadow: 0px 0px 10px black;
    text-align: start;
}

.project-content2 h3{
    font-family: titlefont;
    color: #CBD5E1;
    text-shadow: 0px 0px 10px black;
    text-align: start;
}


.project-content p{
    font-family: bodyfont;
    color: #f8ffeb;
}


.project-content2 p{
    font-family: bodyfont;
    color: #f8ffeb;
}

.projects-intro .primary-button{
    font-weight: bold;
}

.projects-list{
    overflow-y: hidden;
    margin-bottom: 100px;
    overflow: hidden;
}

.project{
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.467);
    border-radius: 10px;
    margin-top: 50px;
    transition: all 0.5s;
    animation: project-animation 10s linear infinite;
}


.projectimg{
    height: 220px;
    width: 100%;
}


.project:hover > .project-content{
    opacity: 1;
    transition: all 0.5s;
    transform: scale(1.05);
    border: 1px solid rgba(0, 0, 0, 0.467);
    cursor: pointer;
}

.project:hover > .project-content2{
    opacity: 1;
    transition: all 0.5s;
    transform: scale(1.05);
    border: 1px solid rgba(0, 0, 0, 0.467);
    cursor: pointer;
}

.project:hover{
    margin-bottom: 370px;
    transition: all 0.5s;
}
.project:hover{
    border: none;
    animation-play-state: paused;
}


.project-content{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.467);
    border-radius: 10px;
    background-color: rgba(25, 25, 25, 0.8);
    color: white;
    font-weight: 500%;
    border-radius: 10px;
    opacity: 0;
    transition: all 0.5s;
}

.project-content2{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.467);
    border-radius: 10px;
    background-color: rgba(25, 25, 25, 0.8);
    color: white;
    font-weight: 500%;
    border-radius: 10px;
    opacity: 0;
    transition: all 0.5s;
}

@media(max-width:750px) {
    .projpush{
        max-width: 94%;
    }
}

@keyframes project-animation {
    0%{
        transform: rotate(-5deg);
    }
    25%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(5deg);
    }
    75%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-5deg);
    }

}